<?xml version="1.0"?>

<launch>
<!--  <arg name="tf_map_scanmatch_transform_frame_name" default="scanmatcher_frame"/>
  <arg name="base_frame" default="base_footprint"/>
  <arg name="odom_frame" default="nav"/>
  <arg name="pub_map_odom_transform" default="true"/>
  <arg name="scan_subscriber_queue_size" default="5"/>
  <arg name="scan_topic" default="scan"/>-->
  
  <include file="$(find hector_pseye_camera)/launch/ps_eye.launch" />
  
  <node name="ps_eye_image_proc" pkg="nodelet" type="nodelet" args="load image_proc/rectify pseye_camera">
    <remap from="image_mono" to="ps_eye1/image_raw" />
    <remap from="camera_info" to="ps_eye1/camera_info" />
    <remap from="image_rec" to="ps_eye1/image_rec" />
  </node>
    
  <!--<node pkg="tf" type="static_transform_publisher" name="map_nav_broadcaster" args="0 0 0 0 0 0 map nav 100"/>-->
</launch>
